---
layout: page
title: Archivierte Informationen
permalink: /archiv/aktuelles/
---

<div style="float: right;">
  <a class="btn btn-default" href="{{ site.baseurl }}/archiv/hasten-hats/">Ausgaben der Hasten hat's</a>
</div>

<!-- This loops through the paginated posts -->
{% for post in site.posts %}
  {% for category in post.categories %}
    {% unless category != "archive" %}
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="author">
        <span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>
      </p>
      <div class="content">
        {{ post.content }}
      </div>
      <hr>
    {% endunless %}
  {% endfor %}
{% endfor %}

<div class="wrap-buttons">
  <a class="btn btn-default" href="{{ site.baseurl }}/archiv/hasten-hats/">Ausgaben der Hasten hat's</a>
</div>
