---
layout: page
title: Verein
permalink: /verein/
---
<h4>Beitrittserklärung</h4>
<p>
  <a href="{{ site.baseurl }}/downloads/ighbeitrittserklaerung.pdf">Hier können Sie unsere aktuelle Beitrittserklärung downloaden.</a>
</p>

<hr>

<h3>Organe des Vereins</h3>
<div class="row" style="padding-bottom: 2em;">
  <div class="col col-md-2">
    <img src="{{ site.baseurl }}/images/vorstand/gerhardroettger.png" />
  </div>
  <div class="col col-md-4">
    <h3>Gerhard Röttger</h3>
    <strong>Vorsitzender</strong><br>
    Tel.: 02191 80555<br>
    E-Mail: <a href="mailto:gerhard.roettger@ighasten.de">gerhard.roettger (at) ighasten.de</a>
  </div>

  <div class="col col-md-2">
    <img src="{{ site.baseurl }}/images/vorstand/mannfredgottschalk.png" />
  </div>
  <div class="col col-md-4">
    <h3>Manfred Gottschalk</h3>
    <strong>Stellvertrender Vorsitzender</strong><br>
    Tel.: 02191 80567<br>
    E-Mail: <a href="mailto:manfred.gottschalk@ighasten.de">manfred.gottschalk (at) ighasten.de</a>
  </div>
</div>

<div class="row" style="padding-bottom: 2em;">
  <div class="col col-md-2">
    <img src="{{ site.baseurl }}/images/vorstand/hansliebig.png" />
  </div>
  <div class="col col-md-4">
    <h3>Hans Liebig</h3>
    <strong>Stellvertretender Vorsitzender</strong><br>
    Tel.: 02191 81347<br>
    E-Mail: <a href="mailto:hans.liebig@ighasten.de">hans.liebig (at) ighasten.de</a>
  </div>

  <div class="col col-md-2">
    <img src="{{ site.baseurl }}/images/vorstand/baerbelberger.png" />
  </div>
  <div class="col col-md-4">
    <h3>Bärbel Berger</h3>
    <strong>Kassiererin</strong><br>
    Tel.: 02191 8890<br>
    E-Mail: <a href="mailto:baerbel.berger@ighasten.de">baerbel.berger (at) ighasten.de</a>
  </div>
</div>

<div class="row">
  <div class="col col-md-2">
    <img src="{{ site.baseurl }}/images/vorstand/krainschneider.png" />
  </div>
  <div class="col col-md-4">
    <h3>Marianne Krain-Schneider</h3>
    <strong>Schriftführerin</strong><br>
    Tel.: 02191 2092409<br>
    E-Mail: <a href="mailto:marianne.krain-schneider@ighasten.de">marianne.krain-schneider (at) ighasten.de</a>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col col-md-6">
    <h3>Der Beirat</h3>
    <ul>
      <li>Frau Bärbel Kaplan</li>
      <li>Frau Hella Baier</li>
      <li>Frau Andrea Kasch</li>
      <li>Herr Michael Götz</li>
      <li>Herr Ralf Frings</li>
    </ul>
  </div>

  <div class="col col-md-6" style="vertical-align: text-top;">
    <h3>Kassenprüfer</h3>
    <ul>
      <li>Frau Annette Jungjohann</li>
      <li>Herr Armin Zache</li>
    </ul>
  </div>
</div>

<div class="masthead"></div>

{% include ziele-des-vereins.html %}

<div class="masthead"></div>

{% include satzung.html %}

<hr>

<h4>Beitrittserklärung</h4>
<p>
  <a href="{{ site.baseurl }}/downloads/ighbeitrittserklaerung.pdf">Hier können Sie unsere aktuelle Beitrittserklärung downloaden.</a>
</p>
