<h2>Satzung</h2>
<h4>Paragraph I: Name, Sitz</h4>
<p>
  Der Verein tr&auml;gt den Namen IGH - Interessengemeinschaft Hasten e.V.
</p>
<p>
  Der Verein hat seinen Sitz in Remscheid Hasten und ist in das Vereinsregister beim Amtsgericht Remscheid eingetragen.
</p>
<br>

<h4>Paragraph II: Satzung der Interessengemeinschaft Hasten e.V.</h4>
<p>
  Der Verein beabsichtigt, den Stadtteil Hasten im Interesse der dort ans&auml;ssigen B&uuml;rger zu f&ouml;rdern. Zu diesem Zwecke wird er kulturelle, sportliche und sonstige Veranstaltungen unterst&uuml;tzen, sich f&uuml;r die Volks- und
  Brauchtumspflege einsetzen und die st&auml;dtebauliche Attraktivit&auml;t des Stadtteils Hasten f&ouml;rdern. Der Verein koordiniert die verschiedenen Veranstaltungen seiner Mitglieder und dient als Ansprechpartner bzw. Verbindungsglied
  zu seinen Mitgliedern, der Stadt bzw. den Beh&ouml;rden und sonstigen Organisationen.
</p>
<p>
  Der Verein verfolgt insbesondere diese Zwecke, ist hierauf jedoch nicht beschr&auml;nkt. Er ist nicht auf einen wirtschaftlichen Gesch&auml;ftsbetrieb gerichtet (Paragraph 21 BGB). &Uuml;bersch&uuml;sse sind f&uuml;r satzungsgem&auml;ße
  Zwecke zu verwenden.
</p>
<p>
  Der Verein ist parteipolitisch und konfessionell neutral.
</p>
<br>

<h4>Paragraph III: Mittelverwendung</h4>
<p>
  Mittel des Vereins d&uuml;rfen nur f&uuml;r die satzungsgem&auml;ßen Zwecke verwandt werden.
</p>
<p>
  Zuwendungen an Personen oder Ausgaben, die dem Zwecke des Vereins fremd sind, sind unzul&auml;ssig.
</p>
<p>
  Alle Inhaber von Vereins&auml;mtern sind ehrenamtlich t&auml;tig.
</p>
<br>

<h4>Paragraph IV: Organe</h4>
<p>
  Organe des Vereins sind:
  <ol>
    <li>Der Vorstand</li>
    <li>Die Mitgliederversammlung</li>
    <li>Beir&auml;te, die bei Bedarf durch Beschluß der Mitgliederversammlung gebildet werden k&ouml;nnen.</li>
  </ol>
</p>
<br>

<h4>Paragraph V: Mitgliedschaft</h4>
<p>
  Mitglieder k&ouml;nnen alle nat&uuml;rlichen und juristischen Personen werden, die bereit sind, die Zwecke des Vereins zu unterst&uuml;tzen.
</p>
<p>
  Die Mitgliedschaft beginnt mit der Aufnahme, &uuml;ber die der Vorstand entscheidet. Ein Anspruch auf Aufnahme besteht nicht. Mit der Aufnahme erkennt das Mitglied die Vereinssatzung an.
</p>
<p>
  Die Mitgliedschaft endet durch:
  <ul>
    <li>
      Freiwilligen Austritt, der nur auf das Ende des Kalenderjahres erfolgen kann und drei Monate vorher schriftlich erkl&auml;rt werden muß, Tod eines Mitgliedes, Ausschluß. Hier&uuml;ber entscheidet die Mitgliederversammlung. Vor dem Ausschluß
      ist dem Betroffenen Gelegenheit zur schriftlichen Stellungnahme, innerhalb von 2 Wochen zu geben. Mit Ausschluß erl&ouml;schen alle Anspr&uuml;che an den Verein.
    </li>
    <li>
      Ausschlußgr&uuml;nde sind insbesondere:
      <ul>
        <li>grobe Verst&ouml;ße gegen die Satzung und die Interessen des Vereins sowie gegen Beschl&uuml;sse und Anordnungen der Vereinsorgane;</li>
        <li>vereinssch&auml;digendes Verhalten innerhalb und außerhalb des Vereins;</li>
        <li>R&uuml;ckstand mit 2 Jahresbetr&auml;gen trotz Mahnung.</li>
        <li>Aufl&ouml;sung des Vereins.</li>
      </ul>
    </li>
  </ul>
</p>
<br>

<h4>Paragraph VI: Rechte und Pflichten der Mitlieder</h4>
<p>
  Die Mitglieder sind berechtigt, die Einrichtung des Vereins zu benutzen und an dessen Veranstaltungen teilzunehmen.
</p>
<p>
  In der Mitgliederversammlung haben sie das Recht, Antr&auml;ge zu stellen und vom vollendeten 18. Lebensjahr an das Stimmrecht auszu&uuml;ben. Jedes stimmberechtigte Mitglied hat eine Stimme. Eine &Uuml;bertragung des Stimmrechtes ist nicht zul&auml;ssig.
</p>
<p>
  Die Mitglieder haben die Pflicht, zur Erf&uuml;llung der Vereinsaufgaben beizutragen und die Beschl&uuml;sse und Anordnungen des Vorstandes zu befolgen. Der Mitgliedsbeitrag ist im voraus zu entrichten.
</p>
<br>

<h4>Paragraph VII: Mitgliederversammlung</h4>
<p>
  Die ordentliche Mitgliederversammlung findet mindestens einmal j&auml;hrlich statt.
</p>
<p>
  Außerordentliche Mitgliederversammlungen sind einzuberufen, wenn das Interesse des Vereins sie erfordern oder die Einberufung von mindestens 5 Mitgliedern schriftlich, unter Angabe der Gr&uuml;nde, vom Vorstand verlangt wird.
</p>
<p>
  Die Mitgliederversammlungen sind vom Vorstand schriftlich unter Angabe der Tages- ordnung und unter Einhaltung einer Frist von 14 Tagen einzuberufen.
</p>
<p>
  Die ordnungsgem&auml;ß einberufene Mitgliederversammlung ist in jedem Fall beschlußf&auml;hig.
</p>
<p>
  Der Mitgliederversammlung obliegt insbesondere:
  <ul>
    <li>die Entgegennahme des Jahres- und Kassenberichtes des Vorstandes,</li>
    <li>die Entlastung des Vorstandes</li>
    <li>die Wahl von 2 Kassenpr&uuml;fern</li>
    <li>die Ernennung von Ehrenmitgliedern</li>
    <li>der Ausschluß von Mitgliedern</li>
    <li>Satzungs&auml;nderungen</li>
  </ul>
</p>
<p>
  Die Mitgliederversammlungen fassen ihre Beschl&uuml;sse in einfacher Stimmenmehrheit soweit diese Satzung keine anderen Mehrheiten vorschreibt. Stimmberechtigt sind alle Mitglieder.
</p>
<p>
  Die Mitgliederversammlungen sind &ouml;ffentlich soweit nicht mit einfacher Stimmenmehrheit der anwesenden Mitglieder gegenteiliges beschlossen wird.
</p>
<p>
  Zu Satzungs&auml;nderungen, zum Ausschluß von Mitgliedern und zur Aufl&ouml;sung des Vereins ist eine Stimmenmehrheit von ¾ aller an der Mitgliederversammlung teilnehmenden stimmberechtigten Mitglieder erforderlich.
</p>
<p>
  &Uuml;ber den Verlauf der Mitgliederversammlung und die von ihr gefaßten Beschl&uuml;sse ist ein Protokoll zu f&uuml;hren, das vom Vorsitzenden des Vorstandes sowie dem Schriftf&uuml;hrer zu unterzeichnen ist.
</p>
<br>

<h4>Paragraph VIII: Beitr&auml;ge</h4>
<p>
  Die Entscheidung, welchen monatlichen (j&auml;hrlichen) Beitrag das Mitglied entrichten will, trifft das Mitglied in seiner Beitrittserkl&auml;rung.
</p>
<p>
  Eine Beitragsstaffel wird von der Mitgliederversammlung mit einfacher Mehrheit aller anwesenden Stimmen festgelegt.
</p>
<p>
  Mitgliedsbeitr&auml;ge verbleiben grunds&auml;tzlich beim Verein und werden nur f&uuml;r die satzungsgem&auml;ßen Zwecke verwendet.
</p>
<br>

<h4>Paragraph VIV: Beir&auml;te</h4>
<p>
  Die Beir&auml;te, die bei Bedarf durch Beschluss der Mitgliederversammlung gebildet werden k&ouml;nnen, beraten den Vorstand, arbeiten Empfehlungen aus und geben Anregungen f&uuml;r die F&ouml;rderung des Vereinszweckes.
</p>
<p>
  Die Beir&auml;te sind einzuberufen sooft es die Gesch&auml;fte erfordern.
</p>
<br>

<h4>Paragraph X: Vorstand</h4>
<p>
  Der Vorstand im Sinne von Paragraph 28 BGB besteht aus 4 Personen, wobei zwei von ihnen zur Vertretung des Vereins berechtigt sind.
</p>
<p>
  Diese Personen sind:
  <ul>
    <li>Der (die) 1. Vorsitzende/n</li>
    <li>Zwei Stellvertreter (Stellvertreterinnen)</li>
    <li>Der (die) Schriftf&uuml;hrer (Schriftf&uuml;hrerin)</li>
    <li>Der (die) Schatzmeister (Schatzmeisterin)</li>
    <li>Zum erweiterten Vorstand k&ouml;nnen weitere 5 Personen hinzugew&auml;hlt werden.</li>
  </ul>
<p>
  Der Vorstand wird von der Mitgliederversammlung auf die Dauer von 3 Jahren gew&auml;hlt. Eine Wiederwahl ist zul&auml;ssig. Scheidet ein Vorstandsmitglied vor Ablauf seiner Amtsdauer aus, so erg&auml;nzt sich der Vorstand f&uuml;r den Rest der Amtszeit des ausscheidenden Mitgliedes durch Zuwahl aus den Reihen der Vereinsmitglieder.
</p>
<p>
  Der Verein wird gerichtlich und außergerichtlich gemeinsam durch den 1. oder einen stellvertretenden Vorsitzenden und ein weiteres Vorstandsmitglied vertreten.
</p>
<br>

<h4>Paragraph XI: Gesch&auml;ftsjahr</h4>
<p>
  Gesch&auml;ftsjahr ist das Kalenderjahr.
</p>
<br>

<h4>Paragraph XII: Kassenjahr</h4>
<p>
  Die Kassenpr&uuml;fung erfolgt durch zwei von der Mitgliederversammlung ehrenamtlich f&uuml;r jeweils 2 Jahre gew&auml;hlte Kassenpr&uuml;fer.
</p>
<p>
  Die Wiederwahl der Kassenpr&uuml;fer ist zul&auml;ssig. Den Kassenpr&uuml;fern obliegt die Kontrolle der laufenden Gesch&auml;fte sowie die &Uuml;berpr&uuml;fung der Rechnungsabschl&uuml;sse am Ende des Gesch&auml;ftsjahres und, soweit festgestellt, die schriftliche Best&auml;tigung der Ordnungsm&auml;ßigkeit.
</p>
<br>

<h4>Paragraph XIII: Haftung</h4>
<p>Die Vereinsmitglieder haften nur mit dem Vereinsverm&ouml;gen. Der Vorstand ist verpflichtet, bei allen im Namen des Vereins erfolgten Rechtsgesch&auml;ften auf die Haftungsbeschr&auml;nkung der Mitglieder hinzuweisen.
</p>
<br>

<h4>Paragraph XIV: Aufl&ouml;sung des Vereins</h4>
<p>
  Die Aufl&ouml;sung kann nur in einer besonderen, zu diesem Zweck mit einer Frist von 1 Monat einzuberufenden außerordentlichen Mitgliederversammlung mit einer Mehrheit von ¾ der anwesenden stimmberechtigten Mitglieder beschlossen werden.
</p>
<p>
  &Uuml;ber die Verteilung des Vereinsverm&ouml;gens bei Aufl&ouml;sung entscheidet die hierzu einberufene außerordentliche Mitgliederversammlung mit einer Mehrheit von ¾ der anwesenden stimmberechtigten Mitgliedern.
</p>
<p>
  Sofern die Mitgliederversammlung nichts anderes beschließt, sind der 1. und ein stellvertretender Vorsitzender die gemeinsam vertretungsberechtigten Liquidatoren.
</p>
