<h2>Ziele des Vereins</h2>

<p>
  "Die Entwicklung unseres Stadtteiles aktiv mitgestalten, um so die Lebensqualität durch ein lebendiges und attraktives Umfeld zu erhöhen“ - so lassen sich die Ziele des Vereins kurz und knapp zusammenfassend darstellen. Dies waren die ersten Gedanken und Ansätze, als sich die IG Hasten e.V. konstituierte. Darüber hinaus spielt der Wettbewerb zwischen konkurrierenden Stadtteilen und ein verändertes Einkaufs- und Konsumverhalten der Bürger eine nicht unwesentliche Rolle.
</p>
<p>
  Der hierin liegenden Herausforderung haben wir uns gerne angenommen und haben hierzu bereits diverse Maßnahmen umgesetzt. Bei der Verwirklichung und Umsetzung dieser Aufgaben wünschen wir uns eine möglichst breite Zustimmung in der Bevölkerung, insbesondere der Hastener.
</p>
<p>
  Mit einem Beitritt zur IGH können auch Sie diese Ziele unterstützen - hierüber würden wir uns sehr freuen.
</p>
