---
navigation:
- text: Aktuelles
  url: /aktuelles/
- text: Termine
  url: /termine/
- text: Stadtteil
  url: /stadtteil/
- text: Galerie
  url: /galerie/
- text: Verein
  url: /verein/
- text: Kontakt
  url: /kontakt/
---

<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css"> -->

    <!-- Fontawesome CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Include JQuery -->
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>

    {% include piwik.html %}
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col col-md-12">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/images/logo_text_100.png" /></a>

            <nav>
              <a href="/aktuelles/">Aktuelles</a>
              <a href="/termine/">Termine</a>
              <a href="/stadtteil/">Stadtteil</a>
              <a href="/galerie/">Galerie</a>
              <a href="/verein/">Verein</a>
              <a href="/kontakt/">Kontakt</a>
              {% for link in page.navigation %}
                {% assign urlNoIndex = page.url|remove:'index.html' %}
                {% assign url = urlNoIndex|remove:'/archiv' %}
                <a href="{{link.url}}" {% if url == link.url %}class="current"{% endif %}>{{link.text}}</a>
              {% endfor %}
            </nav>
          </header>
        </div>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <a href="{{ site.baseurl }}/impressum">Impressum und Datenschutz</a>
              <p class="text-muted">Diese Seite verwendet Piwik zur Erfassung von Statistiken</p>
            </div>
            <div class="col-md-1">
              <a href="/feed.xml">
                <i class="fa fa-rss fa-lg text-muted"></i>
                <p class="text-muted">
                  <small>RSS Feed</small>
                </p>
              </a>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
