---
layout: page
---
<style TYPE="text/css">
.gallery-wrapper {
  width: 35em;
  text-align: center;
  padding: 1em 0 4em 0;
}
.gallery-best-image{
  max-height: 20em;
  max-width: 20em;
}
h4 {
  text-align: center;
}
</style>
<!-- {% for gallery in page.galleries %}
<div class="gallery-wrapper">
    <a href="{{ gallery['gallery'] }}">
        <img class="gallery-best-image" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
    </a>
    <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
    {{ gallery["images"] | size }} Bild{% if gallery["images"].size != 1 %}er{% endif %}
</div>
{% endfor %} -->

<p>
  Hier finden Sie einige Bilder unserer Veranstaltungen. Schauen Sie sich einfach um!
</p>

<hr>
<h3>Bilder aus dem Jahr 2015</h3>
<br>

<div class="row">
  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/aufbau_hastener_loewe_2015/">
      <img src="{{ site.baseurl }}/galerie/aufbau_hastener_loewe_2015/thumbs/0.jpg" alt="" />
      <h4>Aufbau des Hastener Löwens</h4>
    </a>
  </div>
</div>

<!-- ############## -->

<hr>
<h3>Bilder aus dem Jahr 2014</h3>
<br>

<div class="row">
  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/loewenparade_2014/">
      <img src="{{ site.baseurl }}/galerie/loewenparade_2014/thumbs/0.jpg" alt="" />
      <h4>Löwenparade</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/stadtteilfest_2014/">
      <img src="{{ site.baseurl }}/galerie/stadtteilfest_2014/thumbs/0.jpg" alt="" />
      <h4>20. Stadtteilfest</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/weihnachtstreff_2014/">
      <img src="{{ site.baseurl }}/galerie/weihnachtstreff_2014/thumbs/0.jpg" alt="" />
      <h4>20. Weihnachtstreff</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/moebel_RLP_2014/">
      <img src="{{ site.baseurl }}/galerie/moebel_RLP_2014/thumbs/0.jpg" alt="" />
      <h4>Errichtung der Außenmöbel am RLP</h4>
    </a>
  </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="{{ site.baseurl }}/galerie/weihnachtsverlosung_2014/">
            <img src="{{ site.baseurl }}/galerie/weihnachtsverlosung_2014/thumbs/l1020877.jpg" alt="" />
            <h4>Weihnachtsverlosung</h4>
        </a>
    </div>
</div>

<!-- ############## -->

<hr>
<h3>Bilder aus dem Jahr 2013</h3>
<br>

<div class="row">
  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/stadtteilfest_2013/">
      <img src="{{ site.baseurl }}/galerie/stadtteilfest_2013/thumbs/0.jpg" alt="" />
      <h4>19. Stadtteilfest</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/weihnachtstreff_2013/">
      <img src="{{ site.baseurl }}/galerie/weihnachtstreff_2013/thumbs/0.jpg" alt="" />
      <h4>19. Weihnachtstreff</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/weihnachtsverlosung_2013/">
      <img src="{{ site.baseurl }}/galerie/weihnachtsverlosung_2013/thumbs/0.jpg" alt="" />
      <h4>Weihnachtsverlosung</h4>
    </a>
  </div>
</div>

<!-- ############## -->

<hr>
<h3>Bilder aus dem Jahr 2012</h3>
<br>

<div class="row">
  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/700_jahre_hasten_2012/">
      <img src="{{ site.baseurl }}/galerie/700_jahre_hasten_2012/thumbs/0.jpg" alt="" />
      <h4>700 Jahre Hasten</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/weihnachtstreff_2012/">
      <img src="{{ site.baseurl }}/galerie/weihnachtstreff_2012/thumbs/0.jpg" alt="" />
      <h4>18. Weihnachtstreff</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/aufbau_des_denkmals_2012/">
      <img src="{{ site.baseurl }}/galerie/aufbau_des_denkmals_2012/thumbs/0.jpg" alt="" />
      <h4>Aufbau des Denkmals</h4>
    </a>
  </div>
</div>

<!-- ############## -->

<hr>
<h3>Bilder aus dem Jahr 2011</h3>
<br>

<div class="row">
  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/stadtteilfest_2011/">
      <img src="{{ site.baseurl }}/galerie/stadtteilfest_2011/thumbs/0.jpg" alt="" />
      <h4>17. Stadtteilfest</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/weihnachtstreff_2011/">
      <img src="{{ site.baseurl }}/galerie/weihnachtstreff_2011/thumbs/0.jpg" alt="" />
      <h4>17. Weihnachtstreff</h4>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{{ site.baseurl }}/galerie/weihnachtsverlosung_2011/">
      <img src="{{ site.baseurl }}/galerie/weihnachtsverlosung_2011/thumbs/0.jpg" alt="" />
      <h4>Weihnachtsverlosung</h4>
    </a>
  </div>
</div>
